<section class="banner contenedor" id="sec1">
  <div class="container-fluid">
    <div class="row">
      <div class="banner_img">
        <img src="/img/foto.jpg" class="img-fluid" alt="" />
      </div>
      <div class="banner_title">
        <h2>Hola! soy Anthony Carhuayalle</h2>
        <h3>Tec.Desarrollo de Sistemas de la Informacion</h3>

      </div>
      <div class="banner_boton">
        <a href="#seccion-2" class="btn_neon">
          Mis Estudios</a>
        <a href="#seccion-3" class="btn_neon">
          Mis Trabajos</a>
        <a href="#seccion-4" class="btn_neon">
          Software Skill</a>
        <a href="#seccion-5" class="btn_neon">
          Hobbis & Intereses</a>
      </div>
    </div>
  </div>
</section>

<section class="banner contenedor" id="seccion-2">
  <div class="container text-center">

    <div class="row">
      <div class="col-12">
        <h3>Mis Estudios</h3>
      </div>


      <div class="col-12">
        <div class="row">

          <div class="col-4">
            <i class="fa-solid fa-brain fa-4x"></i>
          </div>
          <div class="col-8">
            <div class="parrafos">
              <p><strong>Instituto:</strong></p>
              <p>Instituto de Investigación y Desarrollo
                de Administración y Tecnología (IDAT)</p>
            </div>
            <div class="parrafos">
              <p><strong>Carrera:</strong></p>
              <p>Desarrollo De Sistemas De La Informacion</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="row">
          <div class="col mis_estudios">
            <i class="fa-solid fa-code fa-3x"></i>
          </div>
          <div class="col sub_til">
            Lenguajes
          </div>
        </div>
        <div class="row">
          <div class="col mis_estudios">
            <i class="fa-solid fa-server fa-3x"></i>
          </div>
          <div class="col sub_til">
            Estructuras
          </div>
          
        </div>
        <div class="row">
            <div class="col mis_estudios">
              <i class="fa-solid fa-database fa-3x"></i>
            </div>
            <div class="col sub_til">
              Base de Datos
            </div>
          </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col mis_estudios">
            <i class="fa-solid fa-city fa-3x"></i>
          </div>
          <div class="col sub_til">
            frameworks & Plataformas
          </div>
        </div>
        <div class="row">
          <div class="col mis_estudios">
            <i class="fa-solid fa-code-branch fa-3x"></i>
          </div>
          <div class="col sub_til">
            Control de Versiones
          </div>
        </div>
        <div class="row">
          <div class="col mis_estudios">
            <i class="fa-brands fa-linux fa-3x"></i>
          </div>
          <div class="col sub_til">
            Sistemas Operativos
          </div>
        </div>
      </div>
      <div class="banner_boton">
        <a href="#" class="btn_neon">
          <i class="fa-solid fa-house"></i>
          Inicio</a>
        <a href="#seccion-3" class="btn_neon">
          Siguiente
          <i class="fa-regular fa-hand-point-right"></i></a>
      </div>
    </div>

</section>

<section class="banner contenedor" id="seccion-3">
  <div class="container-fluid">
    <div class="row">
      <div class="banner_subTitle">
        <h3>Mis trabajos</h3>
         <div id="timeline">
    <ul id="dates">
      <li><a href="#2015">2015</a></li>
      <li><a href="#2018">2018</a></li>
      <li><a href="#2020">2020</a></li>
      <li><a href="#2022">2022</a></li>

    </ul>
    <ul id="issues">
      <li id="2015">

        <h1>AGO 2015 - OCT 2017</h1>
        <p><strong> EJECUTIVO MOVISTAR</strong></p>
        <br>
        <p><i class="fa-solid fa-skull"></i> Gestión de ventas de trio Movistar en servicio postpagos a postpago o de prepago.</p>
        <p><i class="fa-solid fa-skull"></i> Gestor de atencion al cliente primera linea</p>
        <p><i class="fa-solid fa-skull"></i> Fidelización al cliente para que pueda ver más beneficios de la empresa</p>
        <p><i class="fa-solid fa-skull"></i> Gestión de la lectura de contrato y registro del pedido</p>
      </li>

      <li id="2018">

        <h1>MAR 2018 – ABR 2018</h1>
        <p><strong>SOPORTE INFORMATICO - MINISTERIO DE PRODUCCION</strong></p>
        <br>
        <p><i class="fa-solid fa-wrench"></i> Configuracion de perfil y actualizaciones de computadoras de escritorio.</p>
        <p><i class="fa-solid fa-wrench"></i> Instalación del software Discovery y despliegue de cómputo.</p>
        <p><i class="fa-solid fa-wrench"></i> Asignación de equipos de o¬cinas a personal de PRODUCE.</p>
        <p><i class="fa-solid fa-wrench"></i> Instalación de equipos transferencia de datos e instalación de software del personal.</p>
        <p><i class="fa-solid fa-wrench"></i> Emitir reporte diariamente de las con¬guración-instalaciones efectuadas</p>
      </li>
      <li id="2020">

        <h1>DIC 2020 - DIC 2021</h1>
        <p><strong> DIGITADOR (ASISTENTE T1) – GEPAE (TRANSPORTES 77)</strong></p>
        <br>
        <p><i class="fa-solid fa-wrench"></i> Programar diariamente flota 77 y proveedores en Lima – Pronvincia optimizando los viajes</p>
        <p><i class="fa-solid fa-wrench"></i> Seguimiento a las unidades mediante GPS y alertar sobre cualquier incidencia.</p>
        <p><i class="fa-solid fa-wrench"></i> Registrar y gestionar la información de los traking de tiempos de viajes.</p>
        <p><i class="fa-solid fa-wrench"></i> Coordinar con los proveedores de transporte en la programación de viajes.</p>
        <p><i class="fa-solid fa-wrench"></i> Liquidación de GRR y Facturas, descarga de productos terminados en SAP, entrega de partes a proveedores. </p>
      </li>
      <li id="2022">

        <h1>ENE 2022 - MAR 2022</h1>
        <p><strong>ASISTENTE DE MONITOREO LOGTRACK (AJEPER)</strong></p>
        <br>
        <p><i class="fa-solid fa-wrench"></i> Seguimiento a las unidades mediante GPS , Llamadas y alertar sobre cualquier incidencia.</p>
        <p><i class="fa-solid fa-wrench"></i> Registrar y gestionar la información de los traking de tiempos de viajes.</p>
        <p><i class="fa-solid fa-wrench"></i> Coordinar con los proveedores de transporte en la programación de viajes.</p>
        <p><i class="fa-solid fa-wrench"></i> Reporte de avance de viajes ejecutados vs programados.</p>
        <p><i class="fa-solid fa-wrench"></i> Reporte de unidades con imcunplimientos de viajes.</p>
        <p><i class="fa-solid fa-wrench"></i> Reporte de demoras en carga y descarga.</p>
        <p><i class="fa-solid fa-wrench"></i> Reporete de OC(Viajes) programados vs OC(Viajes) no programados.</p>
      </li>
    </ul>
    <div id="grad_left"></div>
    <div id="grad_right"></div>
    <i class="fa-solid fa-angles-right" href="#" id="next"></i>
    <i class="fa-solid fa-angles-left" href="#" id="prev"></i>
  </div>

      </div>
      <div class="banner_boton">
        <a href="#" class="btn_neon">
          <i class="fa-solid fa-house"></i>
          Inicio</a>
        <a href="#" class="btn_neon">
          Siguiente
          <i class="fa-regular fa-hand-point-right"></i></a>
      </div>
    </div>
  </div>
</section>

<section class="banner contenedor" id="seccion-4">
  <div class="container text-center">

    <div class="row">
      <div class="col-12">
        <h3>Software Skill</h3>
      </div>

      <div class="col-6">
        <div class="row">
          <div class="col mis_estudios">
            <i class="fa-solid fa-code fa-3x"></i>
          </div>
          <div class="col sub_til">
            <p> Javascript(basico)</p>
<p>Kotlin(basico).</p>
<p>Java(basico)</p>
          </div>
        </div>
        <div class="row">
          <div class="col mis_estudios">
            <i class="fa-solid fa-server fa-3x"></i>
          </div>
          <div class="col sub_til">
            <p>Javascript</p>
            <p>Java</p>
            <p>Kotlin</p>
          </div>
          
        </div>
        <div class="row">
            <div class="col mis_estudios">
              <i class="fa-solid fa-database fa-3x"></i>
            </div>
            <div class="col sub_til">
              <p>phpmyadmin</p>
            </div>
          </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col mis_estudios">
            <i class="fa-solid fa-city fa-3x"></i>
          </div>
          <div class="col sub_til">
            <P>Spring(Nivel basico)</P>
            <p>Hibernate(Nivel basico)</p>
          </div>
        </div>
        <div class="row">
          <div class="col mis_estudios">
            <i class="fa-solid fa-code-branch fa-3x"></i>
          </div>
          <div class="col sub_til">
            <p>Github(Nivel basico)</p>
          </div>
        </div>
        <div class="row">
          <div class="col mis_estudios">
            <i class="fa-brands fa-linux fa-3x"></i>
          </div>
          <div class="col sub_til">
           <p>• Microsoft Windows (Nivel Intermedio).</p>

           <p>• Linux (Nivel basico).</p>
          </div>
        </div>
      </div>
      <div class="banner_boton">
        <a href="#" class="btn_neon">
          <i class="fa-solid fa-house"></i>
          Inicio</a>
        <a href="#seccion-3" class="btn_neon">
          Siguiente
          <i class="fa-regular fa-hand-point-right"></i></a>
      </div>
    </div>
</section>

<section class="banner contenedor" id="seccion-5">
 <div class="container text-center">

    <div class="row">
      <div class="col-12">
        <h3>Hobbis & Intereses</h3>
      </div>

      <div class="col-6">
        <div class="row">
          <div class="col mis_estudios">
            <i class="fa-solid fa-person-hiking fa-4x"></i>
          </div>
          <div class="col sub_til">
            <p> Javascript(basico)</p>
<p>Kotlin(basico).</p>
<p>Java(basico)</p>
          </div>
        </div>
        <div class="row">
          <div class="col mis_estudios">
            <i class="fa-brands fa-spotify fa-4x"></i>
          </div>
          <div class="col sub_til">
            <p>Javascript</p>
            <p>Java</p>
            <p>Kotlin</p>
          </div>
          
        </div>
        <div class="row">
            <div class="col mis_estudios">
              <i class="fa-brands fa-youtube fa-4x"></i>
            </div>
            <div class="col sub_til">
              <p>phpmyadmin</p>
            </div>
          </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col mis_estudios">
            <i class="fa-solid fa-masks-theater fa-4x"></i>
          </div>
          <div class="col sub_til">
            <P>Spring(Nivel basico)</P>
            <p>Hibernate(Nivel basico)</p>
          </div>
        </div>
        <div class="row">
          <div class="col mis_estudios">
            <i class="fa-solid fa-laptop-code fa-4x"></i>
          </div>
          <div class="col sub_til">
            <p>Github(Nivel basico)</p>
          </div>
        </div>
      </div>
      <div class="banner_boton">
        <a href="#" class="btn_neon">
          <i class="fa-solid fa-house"></i>
          Inicio</a>
        <a href="#seccion-3" class="btn_neon">
          Siguiente
          <i class="fa-regular fa-hand-point-right"></i></a>
      </div>
    </div>
</section>